@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500;600;700&family=Stardos+Stencil:wght@700&display=swap');

@font-face {
  font-family: 'Impact';
  src: url('/impact.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
